.sidebar {
  width: 200px;
  background-color: #1b1a1ad7;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin: 0 0 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
